.top{
    padding-top: 100px;
    background-color:#B7E5DD; 
}
.car{
    color:#54BAB9;
}
.cloud{
    position: absolute;
    right: 15%;
    top: 5%;
    width: 15%;
}

.cars{
    width:40%;
    margin-bottom: 0px;
}
.cloud2{
    position: absolute;
    left: 15%;
    bottom: 40%;
    width:15%;

}
body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 4.5rem;
    margin-top:0;
    margin-bottom: 0;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}  
h2{
    font-weight: normal ;
    font-size: 2rem;
    margin-top: 0px;
    color:#11999E;
    font-family: 'Open Sans', sans-serif;
    padding-bottom:50px ;
    padding-top: 30px;
}
h3{
    font-family: 'Open Sans', sans-serif;
    color:#11999E;
}
.hello
{
    width: 8%;
}
.offer
{
    width: 18%;
    float: right;
}
.book
{
    width: 18%;
    float: left;
    margin-right: 35px;
}
.skill-row{
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
}
.bottom-container{
    line-height: 2;
   background-color: #66bfbf;
   padding: 50px 0 20px;
   color: white;
}
.footer-link{
  font-size: 1.2em;
  padding:20px  20px ;
  color: #00595c;
}
.middle-container{
    margin:50px 0;
}
.intro{
    margin: auto;
    width: 50%;
    padding-bottom: 50px;
}
p{
    line-height: 2;
}
hr{
    border:dotted 6px;
    border-bottom: none;
    width: 30%;
    margin: 20px auto;
}
.btn {
    background: #45e8e8;
    background-image: -webkit-linear-gradient(top, #45e8e8, #32d1d1);
    background-image: -moz-linear-gradient(top, #45e8e8, #32d1d1);
    background-image: -ms-linear-gradient(top, #45e8e8, #32d1d1);
    background-image: -o-linear-gradient(top, #45e8e8, #32d1d1);
    background-image: linear-gradient(to bottom, #45e8e8, #32d1d1);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #ffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .g-3{
    text-align: left;
    width: 50%;
    margin: 0 auto 0 auto;
  }
  .operation{
    text-decoration: none;
    color: #00595c;
    font-style: italic;
    font-weight: bold;
    text-decoration-line: underline;
  }